.header {
  display: flex;
  padding: 0;
  margin: 1rem;
  
  font-size: 1.25rem;

  nav {
    margin-left: auto;
    
    ul {
      display: flex;
      list-style-type: none;

      li + li {
          margin-left: 2rem;
      }
    }
  }
}
