.header {
  display: flex;
  padding: 1rem 0;

  font-size: 1.25rem;

  nav {
    margin-left: auto;
    ul {
      display: flex;
      list-style-type: none;

      li + li {
          margin-left: 1rem;
      }
    }
  }
}
